// colors
$col-header-pink:rgba(255, 0, 170, 0.863);
$col-header-blue:rgba(98, 0, 255, 0.801);
$col-sec-features-pink:rgba(255, 0, 170, 0.663);
$col-sec-features-blue:rgba(98, 0, 255, 0.601);
$col-font-white:rgb(221, 221, 221);
$col-grid-background:rgb(201, 201, 201);
$col-green-dark:#11998e;
$col-green-light:#38ef7d;
$col-pink-dark:#ee0979;
$col-pink-light:#ff6a00;       
$col-blue-dark:#09C6F9;
$col-blue-light:#045DE9;

$col-bg-footer-dark:#2d2d2d;

$col-sec-about-background: rgba(224, 224, 224, 0.548);
$col-sec-booking-blue:rgba(98, 0, 255, 1);

//grid
$grid-width:64rem;
$grid-vertical-gutter:3rem;
$grid-horizontal-gutter:2.5rem;