.btn{
    animation-name: downToUpbtn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;

    &--white-btn{
      @include color-btn(white, rgba(255, 255, 255, 0.445));
      @include mediaqueryFor(phone-port-small){
          padding: .8rem 2.3rem;
      }
    }

    &--pink-btn{
        @include color-btn(rgba(164, 7, 255, 0.86),rgba(164, 7, 255, 0.356));
        color:white;
    }

    
}


.btn-text{
    
       color:$col-header-pink;
       display: inline-block;
       text-decoration: none;
       font-size: .9rem;
       text-transform: uppercase;
       padding: .8rem .5rem;
       margin-top: 1.6rem;
       border-bottom: 1.6px solid $col-header-pink;
       transition: all .3s ease-in-out;

       @include mediaqueryFor(tab-land){
           font-size: .95rem;
       }
   

    &:hover{
        transform: translateY(-8px);
        background-color: $col-header-pink;
        border: none;
        color: white;
        box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.288);
        border-radius: 3px;
        cursor: pointer;
    }

    &:active{
        transform: translateY(-4px);
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.212);
    }
}


.arrow{
    display: inline-block;
    -webkit-transform: translateY(-15%);
}