.header{
    background-image: linear-gradient(to right,$col-header-pink 10%,$col-header-blue),url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 100%);

    @include mediaqueryFor(phone-land){
        clip-path: polygon(0 0,100% 0%, 100% 100% , 0 100%);
    }
    
   

    &__logo{
        transform: scale(4);
        position: absolute;
        top:60px;
        left:60px;
        color:white;
        animation-name: logo;
        animation-duration: 1s;
        animation-timing-function: ease-in-out ;
        animation-delay:  0;
        animation-iteration-count: 1;            
    }



    &__text-cnt{
        text-align: center;
        position: absolute;
        top:45%;
        left:50%;
        transform: translate(-50%,-50%);
        color:white;
        line-height: 4.5rem;


        .responsive-header-btn{
            @include mediaqueryFor(phone-land-B){
                margin-top:2rem ;
            }
        } 
    }

}


